<nav class="border-bottom border-dark" style="background-color: #383838;">
	<div class="container-fluid">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-light text-decoration-none fs-5 fw-bold"
				style="padding-right: 20px; padding-left: 20px">
				Spotify
			</a>

			<ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a id="/" href="/" class="nav-link px-4 link-light" style="padding: 15px;">Home</a>
				</li>
				<li>
					<a id="/reviews" href="/reviews" class="nav-link px-4 link-light" style="padding: 15px;">Reviews</a>
				</li>
				<li>
					<a id="/watchlist" href="/watchlist" class="nav-link px-3 link-light" style="padding: 15px;">Watchlist</a>
				</li>
			</ul>

			<div class="dropdown text-end" style="padding: 13px;">
				<a href="#" class="d-block link-light text-decoration-none aria-expanded=" false	>
					<%= json.spotify_name || _json.spotify_name %>
					<img src="<%= json.spotify_image || _json.spotify_image %>" alt="mdo" width="32" height="32" style="border-radius: 10px;">
				</a>
			</div>
		</div>
	</div>
</nav>
<script>
	try {	
		document.getElementById(window.location.pathname).style.backgroundColor = "#D2744C"
	} catch (error) {}
</script>